<div class="dashboard-container">
  <!-- MENÚ LATERAL -->
  <aside class="sidebar">
    <div class="sidebar-menu">
      <h2 class="menu-item active">Dashboard</h2>
      <h2 class="menu-item">Transacciones</h2>
    </div>
    <div class="sidebar-footer">
      <button class="btn-logout" (click)="logout()">Cerrar sesión</button>
    </div>
  </aside>

  <!-- CONTENIDO PRINCIPAL -->
  <main class="main-content">
    <div class="kpi-cards">
      <div class="kpi-card">
        <span class="kpi-title green">INGRESOS TOTALES</span>
        <span class="kpi-value">Q{{ totalIncome | number:'1.2-2' }}</span>
      </div>
      
      <div class="kpi-card">
        <span class="kpi-title red">GASTOS TOTALES</span>
        <span class="kpi-value">Q{{ totalExpense | number:'1.2-2' }}</span>
      </div>
      
      <div class="kpi-card">
        <span class="kpi-title gold">BALANCE ACTUAL</span>
        <span class="kpi-value">Q{{ balance | number:'1.2-2' }}</span>
      </div>
    </div>
  </main>
</div>