<div class="login-container">
  <div class="login-card">
    <div class="login-form-section">
      <div class="brand-header">
        <span class="brand-name">Spend<span>Wise</span></span>
      </div>

      <div class="form-avatar">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
      </div>

      <!-- Mensaje de error si las credenciales fallan -->
      <div *ngIf="errorMessage" style="color: #e74c3c; font-size: 0.85rem; text-align: center; margin-bottom: 10px;">
        {{ errorMessage }}
      </div>

      <form class="form-group" (ngSubmit)="onLogin()">
        <div class="input-wrapper">
          <input type="email" [(ngModel)]="credentials.email" name="email" placeholder="Correo electrónico" required />
        </div>
        <div class="input-wrapper">
          <input type="password" [(ngModel)]="credentials.password" name="password" placeholder="Contraseña" required />
        </div>

        <button type="submit" class="btn-login">INGRESAR</button>
      </form>

      <div class="login-footer">
        <span>¿No tienes cuenta?</span> <a routerLink="/register">Regístrate</a>
      </div>
    </div>

    <div class="login-info-section">
      <div class="info-content">
        <h2>Bienvenido.</h2>
        <p>Administra, controla y optimiza tus finanzas personales y empresariales de manera inteligente.</p>
        <div class="info-line"></div>
      </div>
    </div>
  </div>
</div>