<div class="register-page">
  <div class="register-card">
    
    <div class="register-header">
      <div class="badge-accent">Nuevo Usuario</div>
      <h2>Crea tu cuenta en <span class="text-gold">SpendWise</span></h2>
      <p>Comienza a administrar tus gastos con precisión profesional.</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      
      <div class="form-field">
        <label for="email">Correo electrónico</label>
        <input 
          id="email" 
          type="email" 
          formControlName="email" 
          placeholder="nombre@ejemplo.com" 
        />
      </div>

      <div class="form-field">
        <label for="password">Contraseña </label>
        <input 
          id="password" 
          type="password" 
          formControlName="password" 
          placeholder="••••••••" 
        />
      </div>

      <div *ngIf="errorMessage" class="alert-error">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="alert-success">
        {{ successMessage }}
      </div>

      <button type="submit" class="btn-primary-red" [disabled]="registerForm.invalid">
        Completar Registro
      </button>

    </form>

    <div class="card-footer">
      <p>¿Ya tienes una cuenta? <a routerLink="/login" class="link-gold">Inicia sesión</a></p>
    </div>

  </div>
</div>